@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
	font-size: 1.2vh;
	font-family: 'Inter', 'Avenir', 'Helvetica', 'Calibri', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--accent-color: #FFAE63;
	--text-color: #DEDEDE;
	--background-color: #242424;
	--divider-color: #555453;

	color-scheme: light dark;
	color: var(--text-color);
	background-color: var(--background-color);

	font-display: block;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p:not(#jobTitle) {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

::-moz-selection { /* Firefox */
	color: var(--accent-color);
	background: transparent;
}
  
::selection {
	color: var(--accent-color);
	background: transparent;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-height: 100vh;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1em;
}

#site {
	display: inherit;
	flex-direction: column;
	width: 100dvw;
	
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #f7f1ee;
		--text-color: #662b00;
	}
}