@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
	font-size: 1.2vh;
	font-family: 'Inter', 'Avenir', 'Helvetica', 'Calibri', sans-serif;
	line-height: 1.5;
	font-weight: 400;

    --overlay-colour: #BAB9B8;
    --accent-colour: #FFAE63;
    --darker-accent-colour: #5f544a;
    --text-colour: #DEDEDE;
    --darker-text-colour: #BAB9B8;
    --background-colour: #242424;
    --line-colour: #555453;
    --panel-colour: #202020;
    --panel-shadow-colour: #1c1c1c;
    --panel-inner-shadow-colour: #1c1c1c;

	color-scheme: light dark;
	color: var(--text-colour);
	background-color: var(--background-colour);

	font-display: block;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: sepia;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p:not(#jobTitle) {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

::-moz-selection { /* Firefox */
	color: var(--accent-colour);
	background: transparent;
}
  
::selection {
	color: var(--accent-colour);
	background: transparent;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-height: 100vh;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1em;
}

#site {
	display: inherit;
	flex-direction: column;
	width: 100dvw;
	
}

@media (prefers-color-scheme: light) {
	:root {
		--darker-text-colour: #dc9a61;
		--overlay-colour: #b08056;
		--accent-colour: #ec8526;
		--darker-accent-colour: #dfba9a;
		--overlay-colour: #774418;
		--text-colour: #b7651c;
		--background-colour: #ffe5cd;
		--line-colour: #eabb93;
		--panel-colour: #ffdfc3;
		--panel-shadow-colour: #f9d5b9;
		--panel-inner-shadow-colour: #ffd8b8;
	}


	::-moz-selection { /* Firefox */
		color: var(--panel-shadow-colour);
		background: transparent;
	}
	
	::selection {
		color: var(--panel-shadow-colour);
		background: transparent;
	}
}
